<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>crop</title>
  <!-- Favicon -->
  <link rel="icon" href="static/img/core-img/1.png">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>

1   <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <!-- Top Header Area -->
    
    <!-- Navbar Area -->
    <div class="famie-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="famieNav">
            <!-- Nav Brand -->
                            
              <h3><span>Crop Yield</span></h3>             
                  

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
              <!-- Navbar Start -->
              <div class="classynav">
                <ul>
                  <li class="active"><a href="/home">Home</a></li>
                  <li><a href="/login.html">Logout</a></li>
                   
                    </ul>
                <!-- Search Icon -->
                <!-- Cart Icon -->
                            </div>
              <!-- Navbar End -->
            </div>
          </nav>

          <!-- Search Form -->
          
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('static/img/bg-img/18.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
       
      </div>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <!-- ##### About Us Area End ##### -->

  <!-- ##### Services Area Start ##### -->
  <!-- ##### Services Area End ##### -->


<div class="col-12 col-lg-6">
          <div class="contact-content mb-100">
            <!-- Section Heading -->
         <div class="section-heading">   <center>          
              <h2><span>Tamilnadu Crop Yield Prediction</span></h2>
              <img src="static/img/core-img/decor.png" alt="">
            </div>

            <!-- Contact Form Area -->
            <center>
           	<div class="contact-form-area">
              <form action="/crop" method="post">

                    <div class="form-group">   
                   <div class="row">
                <div class="col-lg-12">
                      <select  class="form-control" style="color:black" name="month" required>
                      <option value="select">Starting Month</option>
                      <option value="January">January</option>
                      <option value="February">February</option>
                      <option value="March">March</option>
                      <option value="April">April</option>                      
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>                                
                      </div>
                     </div>
                          
              <div class="row">
                  <div class="col-lg-12">
                    <input type="text" class="form-control" style="color:black" name="time" placeholder="Cultivation_Time" required>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                    <input type="text" class="form-control" style="color:black" name="min" placeholder="Min_Temperature" required>
                  </div>
                    </div>

                    <div class="row">
                  <div class="col-lg-12">
                    <input type="text" class="form-control"  style="color:black" name="max" placeholder="Max_Temperature" required>
                  </div>
                    </div>



                    <div class="row">
                  <div class="col-lg-12">
                    <input type="text" class="form-control" style="color:black" name="rain" placeholder="Rainfall_Requirement" required>
                  </div>
                    </div>


                  <div class="row">
                  <div class="col-lg-12">
                    <input type="text" class="form-control" style="color:black" name="humidity" placeholder="Humidity" required>
                  </div>
                    </div>






                    <div class="row">
                <div class="col-lg-12">
                      <select  class="form-control" style="color:black" name="Select_Crops" required>
                      <option value="select">Select_Crops</option>
                      <option value="Rice">Rice</option>
                      <option value="Sugarcane">Sugarcane</option>
                      <option value="Ragi">Ragi</option>
                      <option value="Cotton">Cotton</option>                      
                      <option value="Corn">Corn</option>
                      <option value="Wheat">Wheat</option>
                      <option value="Millet">Millet</option>
                       </select>                                
                      </div>
                     </div>


                     <div class="row">
                <div class="col-lg-12">
                      <select  class="form-control" style="color:black" name="Irrigation" required>
                      <option value="select">Irrigation</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>                      
                       </select>                                
                      </div>
                     </div>




                     <div class="row">
                <div class="col-lg-12">
                      <select  class="form-control" style="color:black" name="Your_District" required>
                      <option value="select">Your_District</option>
                      <option value="Coimbatore">Coimbatore</option>
                      <option value="Dindigul">Dindigul</option>
                      <option value="Madurai">Madurai</option>
                      <option value="Salem">Tanjore</option>                      
                      <option value="Theni">Theni</option>
                      <option value="Trichy">Trichy</option>
                    </select>                                
                      </div>
                     </div>


                      <div class="row">
                <div class="col-lg-12">
                      <select  class="form-control" style="color:black" name="Soil_Type" required>
                      <option value="select">Soil_Type</option>
                      <option value="Sandy_soil">Sandy_soil</option>
                      <option value="Clayey_soil">Clayey_soil</option>
                      <option value="Loamy_soil">Loamy_soil</option>
                                       
                                            
                       </select>                                
                      </div>
                     </div>



                      <div class="row">
                  <div class="col-lg-12">
                    <input type="text" class="form-control"  style="color:black" name="Area" placeholder="Area" required>
                  </div>
                    </div>

        

                  <center>  <button type="submit" class="btn btn-info">Predict</button></center>
             
                  </div>
                </div>
              </form>

          </div>
          
            </div>
          </div>
        </div>
</center>




  <!-- ##### Our Products Area End ##### -->

  <!-- ##### Newsletter Area Start ##### -->
  <section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" style="background-image: url('static/img/bg-img/8.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="newsletter-content">
            <!-- Section Heading -->
            <div class="section-heading white text-center">
              <p>What we do</p>
              <h2><span>Our Produce</span> Is Mainstay For Us</h2>
              <img src="static/img/core-img/decor2.png" alt="">
            </div>
            <p class="text-white mb-50 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at diam convallis ligula cursus bibendum sed at enim. Class aptent taciti sociosqu ad litora torquent conubia nostra, per inceptos
              himenaeos.</p>
          </div>
        </div>
      </div>
      <!-- Newsletter Form -->
          </div>
  </section>
  <!-- ##### Newsletter Area End ##### -->

  <!-- ##### Contact Area Start ##### -->
  <section class="contact-area section-padding-100-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Contact Content -->
        
        <!-- Contact Maps -->
            </div>
  </section>
  <!-- ##### Contact Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  
  <!-- ##### Footer Area End ##### -->

  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="static/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="static/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="static/js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="static/js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="static/js/classynav.js"></script>
  <!-- Wow js -->
  <script src="static/js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="static/js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="static/static/js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="static/js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="static/js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="static/js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="static/js/active.js"></script>
</body>

</html>